.addbox {
    display: flex;
    flex-direction: column;
  }
  
  .addbox > * {
    width: 100%;
  }
  .addbox {
    display: flex;
    flex-direction: column;
  }

  .addbox > * {
    width: 100%;
  }