.addbox {
    display: flex;
    flex-direction: column;
  }
  
<<<<<<< HEAD
  .addbox > * {
    width: 100%;
  }
  .addbox {
    display: flex;
    flex-direction: column;
  }

  .addbox > * {
    width: 100%;
  }
=======
.addbox > * {
  width: 100%;
}
>>>>>>> 6825275f3807619b93e95dd9581b05176f80700e
