<app-nav-bar></app-nav-bar>
<div class="content">

    <div id="side-bar">
        <div class="userInfo">
            <img class="userpic" src="{{user.imagen}}">
            <div>
                <div class="name">{{user.nickname}}</div>
                <div class="counter">{{seguidores.length}} seguidores</div>
            </div>
        </div>
        <div class="lists">
            <button mat-raised-button color="primary">Lista de películas</button>
            <button mat-raised-button color="primary">Lista de libros</button>
        </div>
    </div>

    <div id="main">Main content</div>

</div>