<div class="bar"><app-nav-bar></app-nav-bar></div>
<div class="content">
  <div id="side-bar">
    <div class="wrap">
        <div class="userInfo">
            <img class="userpic" src="{{userPerfil.imagen}}">
            <div>
                <div class="name">{{userPerfil.nickname}}</div>
                <div class="counter contenido" (click) = "activedFollowers()">{{seguidores.length}} seguidores</div>
                <div class="counter contenido" (click) = "activedFollowed()">{{seguidos.length}} seguidos</div>
            </div>
        </div>
        <div class="lists">
            <button mat-raised-button color="primary" *ngIf="validator" [routerLink]="[ '/listapelis' ]">Lista de películas</button>
            <button mat-raised-button color="primary" *ngIf="validator" [routerLink]="[ '/listalibros' ]">Lista de libros</button>
        </div>
        <div class="follower-followed">
          <div *ngIf="seeFollowers">
              <h1 class="section-title" class="mat-h1">Seguidores</h1>
              <div class="contenido" [routerLink]="[ '/perfil', element.seguidor.nickname]" *ngFor="let element of seguidores">
                  {{element.seguidor.nickname}}
                </div>
          </div>
          <div *ngIf="seeFollowed">
              <h1 class="section-title" class="mat-h1">Seguidos</h1>
              <div class="contenido" [routerLink]="[ '/perfil', element.seguido.nickname]" *ngFor="let element of seguidos">
                  {{element.seguido.nickname}}
              </div>
          </div>
        </div>
    </div>
  </div>
  <!-- [routerLink]="[ '/resena', element.contenido._id, element.recomienda, 'true','visto']" -->
  <div id="main">
    <div id="seen">
      <h1 class="section-title" class="mat-h1">Películas vistas/Libros leídos</h1>
      <h2 *ngIf="seenList.length==0" class="emptymsg mat-h2">Lista vacía</h2>
      <div class="list">
        <mat-card *ngFor="let element of seenList">
          <mat-card-content [routerLink]="[ '/resena', element.contenido._id]">
              <img class="moviepic" mat-card-md-image src="{{element.contenido.image}}" />
              <div>
                <h4 class="mat-h4 movietitle">{{element.contenido.titule}}</h4>
              </div>
              <mat-icon color="primary" *ngIf="element.recomienda" class="recomended">star</mat-icon>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <!-- [routerLink]="[ '/resena', element.contenido._id,'false','false','porver']" -->
    <div *ngIf="!recomended" id="seen">
        <h1 class="section-title" class="mat-h1">Películas por ver/Libros por leer</h1>
        <h2 *ngIf="toseeList.length==0" class="emptymsg mat-h2">Lista vacía</h2>
        <div class="list">
          <mat-card *ngFor="let element of toseeList">
            <mat-card-content [routerLink]="[ '/resena', element.contenido._id]">
                <img class="moviepic" mat-card-md-image src="{{element.contenido.image}}" />
                <div><h4 class="mat-h4 movietitle">{{element.contenido.titule}}</h4></div>
            </mat-card-content>
          </mat-card>
        </div>
    </div>
</div>
</div>