<div class="bar"><app-nav-bar></app-nav-bar></div>
<div class="content">
  <div id="side-bar">
    <div class="wrap">
        <div class="userInfo">
            <img class="userpic" src="{{user.imagen}}">
            <div>
                <div class="name">{{user.nickname}}</div>
                <div class="counter">{{seguidores.length}} seguidores</div>
            </div>
        </div>
        <div class="lists">
            <button mat-raised-button color="primary" [routerLink]="[ '/listapelis' ]">Lista de películas</button>
            <button mat-raised-button color="primary" [routerLink]="[ '/listalibros' ]">Lista de libros</button>
        </div>
    </div>
  </div>

  <div id="main">
    <div id="seen">
      <h1 class="section-title" class="mat-h1">Películas vistas</h1>
      <h2 *ngIf="seenList.length==0" class="emptymsg mat-h2">Lista vacía</h2>
      <div class="list">
        <mat-card *ngFor="let element of seenList">
          <mat-card-content (click)="verContenido(element.contenido, element.recomienda)">
              <img class="moviepic" mat-card-md-image src="{{element.contenido.image}}" />
              <div>
                <h4 class="mat-h4 movietitle">{{element.contenido.titule}}</h4>
              </div>
              <mat-icon color="primary" *ngIf="element.recomienda" class="recomended">star</mat-icon>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div *ngIf="!recomended" id="seen">
        <h1 class="section-title" class="mat-h1">Películas por ver</h1>
        <h2 *ngIf="toseeList.length==0" class="emptymsg mat-h2">Lista vacía</h2>
        <div class="list">
          <mat-card *ngFor="let element of toseeList">
            <mat-card-content (click)="verContenido(element.contenido)">
                <img class="moviepic" mat-card-md-image src="{{element.contenido.image}}" />
                <div><h4 class="mat-h4 movietitle">{{element.contenido.titule}}</h4></div>
            </mat-card-content>
          </mat-card>
        </div>
    </div>

</div>
</div>