<mat-toolbar color="primary">
        <h1 class="appName">Aplicación</h1>
        
        <div class="main-set">
          <button mat-button>
            <mat-icon>home</mat-icon>
            Home
          </button>
          <button mat-button>
            <mat-icon>movie</mat-icon>
            Añadir Película
          </button>
          <button mat-button>
            <mat-icon>book</mat-icon>
            Añadir Libro
          </button>
          
          <!-- TODO: barra de búsqueda -->
        </div>

        <span class="filling"></span>

        <!-- TODO: usuario actual -->
        <button mat-button>
          <mat-icon>settings</mat-icon>
          Configuración
        </button>
        <button mat-button>
          <mat-icon>exit_to_app</mat-icon>
          Cerrar sesión</button>
</mat-toolbar>
<router-outlet></router-outlet>