<mat-toolbar color="primary">
        <h1 class="appName">Aplicación</h1>
    <!--  
        <span class="filling"></span>
       
        <button mat-button>Perfil</button>
        <button mat-button [matMenuTriggerFor]="peliculasMenu">Películas</button>
        <button mat-button [matMenuTriggerFor]="librosMenu">Libros</button>
        
        <mat-menu #peliculasMenu="matMenu">
          <button mat-menu-item>Vistas</button>
          <button mat-menu-item>Pendientes</button>
        </mat-menu>
        
        <mat-menu #librosMenu="matMenu">
            <button mat-menu-item>Leidos</button>
            <button mat-menu-item>Pendientes</button>
        </mat-menu> -->
</mat-toolbar>
<router-outlet></router-outlet>