<h1 class="section-title" class="mat-h1">Añadir Pelicula:</h1>
<div class="addbox">
        <mat-form-field>
          <input matInput placeholder="Titulo"> </input>
        </mat-form-field>
</div> <p></p>
<div>
        <mat-form-field>
            <input matInput placeholder="Año"> </input>
        </mat-form-field>
</div>  <p></p>
<div>
        <mat-form-field>
            <input matInput placeholder="Director"> </input>
        </mat-form-field>
</div>  <p></p>
<div>
        <mat-form-field>
          <mat-label>Género</mat-label>
          <select matNativeControl required>
            <option value="Comedia">Comedia</option>
            <option value="Terror">Terror</option>
            <option value="Dramática">Dramática</option>
            <option value="Aventuras">Aventuras</option>
            <option value="Acción">Acción</option>
            <option value="Musicales">Musicales</option>
            <option value="Ciencia">Ciencia ficción</option>
            <option value="Suspense">Suspense</option>
            <option value="Documentación">Documentación</option>
          </select>
        </mat-form-field>
</div>  <p></p>

<div>
  <mat-form-field>
      <textarea matInput placeholder="Sinopsis"> </textarea>
  </mat-form-field>
</div> <p></p>

<div>
  <h4 class="section-title" class="mat-h4">Imagen:</h4>
  <mat-form-field>
      <input type="file" placeholder="Imagen"> </input>
  </mat-form-field>
</div>  <p></p>


<div>
    <button mat-raised-button color="primary" class="form-element"  type="submit" [disabled]="!Contenido.form.valid">Confirmar</button>
   </button>

   <ul *ngFor="let contenido of contenidos">
      <li>{{contenido._id}}</li>
      <li>{{contenido.titule}}</li>
      <li>{{contenido.age}}</li>
      <li>{{contenido.gender}}</li>
      <li>{{contenido.synopsis}}</li>
      <li>{{contenido.authorDirector}}</li>
      <li>{{contenido.image}}</li>
      <li>{{contenido.type}}</li>
    </ul>
  </div>
  


