<mat-toolbar color="primary">
    <h1 class="appName">Aplicación</h1>
    
    <div class="main-set" *ngIf="user">
        <button mat-button routerLink="/home">
          <mat-icon>home</mat-icon>
          Home
        </button>
        <button mat-button>
          <mat-icon>movie</mat-icon>
          Añadir Película
        </button>
        <button mat-button>
          <mat-icon>book</mat-icon>
          Añadir Libro
        </button>
        
        <!-- TODO: barra de búsqueda -->
      </div>

      <span class="filling"></span>
      <div class="second-set" *ngIf="user">
        
      <button mat-button routerLink="/config">  
          <span style="padding-right:20px">Identificado como: {{user.nickname}}</span>            
        <mat-icon>settings</mat-icon>
      </button>
      <button mat-button (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        Cerrar sesión</button>
      </div>
</mat-toolbar>