<mat-toolbar color="primary">
    <h1 class="appName" routerLink="/home">Aplicación</h1>
    
    <div class="main-set" *ngIf="user">
        <button mat-button routerLink="/home">
          <mat-icon>home</mat-icon>
          Home
        </button>
        <button mat-button>
          <mat-icon>movie</mat-icon>
          Añadir Película
        </button>
        <button mat-button>
          <mat-icon>book</mat-icon>
          Añadir Libro
        </button>
      </div>
      
      <!-- barra de búsqueda -->
      <div
      Search: input type="text" placeholder="Búsqueda" ng-model="searchText"  
      </div>

      <span class="filling"></span>
      <div class="second-set" *ngIf="user">

      <button mat-button [routerLink]="[ '/perfil' ]">
        {{user.nickname}}
        <mat-icon>face</mat-icon>
      </button>
      <button mat-button routerLink="/config">  
        Configuración      
        <mat-icon>settings</mat-icon>
      </button>
      <button mat-button (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        Cerrar sesión</button>
      </div>
</mat-toolbar>