<mat-toolbar color="primary">
    <h1 class="appName" routerLink="/home">Aplicación</h1>
    
    <div class="main-set" *ngIf="user">
        <button mat-button routerLink="/home">
          <mat-icon>home</mat-icon>
          Home
        </button>
        <button mat-button routerLink="/anadir-peliculas">
          <mat-icon>movie</mat-icon>
          Añadir Película
        </button>
        <button mat-button routerLink="/anadir-libros">
          <mat-icon>book</mat-icon>
          Añadir Libro
        </button>
      </div>          

      <span class="filling"></span>

      <input class="form-control" type="search" placeholder="Búsqueda contenido/usuarios" [(ngModel)]="query"/>
      <button mat-button [routerLink]="[ '/busqueda', query]">
        <mat-icon>search</mat-icon>
      </button>

      <div class="second-set" *ngIf="user">

      <button mat-button [routerLink]="[ '/perfil', user.nickname]">
        {{user.nickname}}
        <mat-icon>face</mat-icon>
      </button>
      <button mat-button routerLink="/config">  
        Configuración      
        <mat-icon>settings</mat-icon>
      </button>
      <button mat-button (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        Cerrar sesión</button>
      </div>
</mat-toolbar>